.detail-container {
  display: flex;
  flex-direction: column;
}

.detail-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0.625rem 0;
}

.detail-heading {
  margin: 0rem 0.625rem;
  font-size: 1.25rem;
}
/* .source{
    text-align: start;
    margin-right: 80%;
} */

.card-body {
  padding: 25px;
  background-color: rgb(250, 246, 246);
}

.trip-card {
  margin: 20px;
  background-color: aqua;
}
.groupIcon {
  margin-right: 30px !important;
}
.tripImage {
  height: 1.625rem;
  width: 4%;
  margin-right: 1 rem;
}

.book-ride-row {
  justify-content: center;
}
.book-ride {
  border: none;
  background-color: #ffc107;
  cursor: pointer;
  font-weight: bold;
  padding-left: 0.75rem;
  padding-right: 0.375rem;
  border-radius: 10px;
  padding: 15px;
}

.search-container {
  position: absolute;
  top: 25%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 999; /* Ensure it's above other content */
}

.search-container input[type="text"] {
  padding: 13px;
  width: 263px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
/* 
.card-body {
  padding: 25px;
  background-color: rgb(250, 246, 246);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.detail-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.tripImage {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.detail-heading {
  margin: 0;
}

.source-info,
.destination-info,
.date-info,
.ride-info,
.ride-info2 {
  margin-left: 5px;
  color: #333;
}

.book-ride-row {
  justify-content: center;
}

.book-ride {
  background-color: #ffd700;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
}

.book-ride:hover {
  background-color: #ffcc00;
} */
